*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@keyframes ani{
    from{
        transform: translateX(200px);
        transition: .5s;
        opacity: 10%;
    }
    to{
        transform: translateX(0px);
        transition: .5s;
        opacity: 100%;
    }
}
@keyframes anib{
    from{
        transform: translateX(-200px);
        transition: 1s;
        opacity: 10%;
    }
    to{
        transform: translateX(0px);
        transition: 1s;
        opacity: 100%;
    }
}
@keyframes anic{
    from{
        transform: translateY(200px);
        transition: .5s;
        opacity: 10%;
    }
    to{
        transform: translateY(0px);
        transition: .5s;
        opacity: 100%;
    }
}

:root{
    --main-green: #156742;
    --ocean-green: rgb(69 165 122);
}
body{
    background-color: black;
}
.body-loading-hide{
    background-color: white;
}
.navbar{
    display: flex;
    background-color: flex;
    background-color: var(--main-green);
    height: 15vh;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 10vh 0px 10vh;
}
.navbar button{
    background-color: #156742;
    border: 0px solid transparent;
    color: white;
    font-size: large;
}
.navbar button i{
    float: left;
}
.navbar button p{
    position: relative;
    float: right;
    left: 5px;
}
.navbar-menu{
    display: none;
    text-decoration: none;
    background-color: #156742;
    color: white;
    list-style: none;
    height: 400px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    padding: 0px 10vh 0px 10vh;
}
.navbar-slider{
    display: none;
}
.navbar-menu li a{
    color: var(--ocean-green);
    font-family: "Helvetica Neue","Arial Nova",Helvetica,Arial,sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
.navbar-menu li a:hover{
    color: white;
    transition: 1s;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
    height: 100%;
    width: 100%;
}
.hide-loading {
    z-index: -999;
    visibility: hidden;
}
.firstScreen{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
}
.textDescription h1{
    color: black;
    font-size: 6vh;
    font-family: "Helvetica Neue","Arial Nova",Helvetica,Arial,sans-serif;
}
.textDescription p{
    color: #676767;
    font-size: 2vh;
    font-family: "Helvetica Neue","Arial Nova",Helvetica,Arial,sans-serif;
}
.whatchPhoto img{
    height: 75vh;
}
.whatchPhoto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.watchFaces{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.watchFaces img{
    height: 30vh;
}
.watchFaces p{
    text-decoration: none;
    color: black;
    font-family: "Helvetica Neue","Arial Nova",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.whatchPhoto button{
    background: transparent;
    border-color: transparent;
}
.secondScreen{
    display: flex;
    background-color: white;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.secondScreen button{
    background-color: transparent;
    border-color: transparent;
}
.sliderWatchFaces{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.arrowLeft{
    position: relative;
    display: flex;
    float: left;
    align-items: center;
}
.arrowRight{
    position: relative;
    display: flex;
    float: right;
    align-items: center;
}
.not-active{
    height: 45vh;
}
.main-slide{
    height: 55vh;
    display: block;
    text-align: center;
}
.watchSlider{
    display: flex;
    align-items: center;
}
.sliderWatchFaces ul{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    list-style: none;
    left: 65vh;
}
.imageSlider{
    width: 50vh;
    height: auto;
}
.classFirstSliderOff{
    position: relative;
    left: -25vh;
}
.secondScreen{
    display: flex;
    height: 200vh;
    background-color: #2F2F31;
    opacity: 75%;
    width: 100%;
    position: relative;
    object-fit: cover;
    z-index: -1;
}
.titileSecondPage{
    position: relative;
    color: white;
    font-family: "Helvetica Neue","Arial Nova",Helvetica,Arial,sans-serif;
    font-size: 6vh;
    width: 80vh;
}
.titileSecondPage em{
    color: wheat;
    margin: 1vh;
    padding: 1vh;
}
.titileSecondPage-scroll-animation{
    position: sticky;
}
